Repository whoisYeshua/webpack-simple-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint

chore(release): 1.5.6 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  4f137683a233ba722ae2021dabd1c269e56aaed4
Due: none

chore: update dependencies and use defineConfig in `eslint.config.js`
  babel.config.js
  eslint.config.js
  package-lock.json
  package.json
Due: eslint, prettier --write

fix: correct typos in comments and documentation
  README.md
  postcss.config.js
Due: eslint, prettier --write

chore: improve webpack configuration and build optimization
  README.md
  config/webpack/webpack.development.js
  config/webpack/webpack.production.js
  public/index.html
  webpack.config.js
Due: eslint, prettier --write

refactor: remove jQuery dependency and modernize asset handling
  README.md
  eslint.config.js
  package-lock.json
  package.json
  src/App.tsx
  src/analytics.ts
  src/assets/data/data.csv
  src/assets/data/data.xml
  src/components/Post/Post.tsx
  src/declarations.d.ts
  src/styles/styles.css
  webpack.config.js
Due: eslint, prettier --write, stylelint

refactor: add lazy loading example
  src/App.tsx
  src/components/Header/Header.tsx
  src/components/HmrInput/Header/Header.tsx
  src/components/HmrInput/Header/index.ts
  src/components/HmrInput/HmrInput.tsx
  src/components/HmrInput/Input/Input.module.css
  src/components/HmrInput/Input/Input.tsx
  src/components/HmrInput/Input/index.ts
  src/components/HmrInput/index.ts
  src/components/PostData/PostData.tsx
  src/components/Tabs/Tabs.module.css
  src/components/Tabs/Tabs.tsx
  src/components/Tabs/index.ts
  src/components/index.ts
Due: eslint, prettier --write, stylelint

build: migrate to `@rsdoctor/webpack-plugin` from `webpack-bundle-analyzer`
  .releaserc.json
  README.md
  config/webpack/webpack.production.js
  package-lock.json
  package.json
  src/babelTest.js
Due: eslint, prettier --write

Notes added by 'git notes add'
  e3ae93734b6ffb2e829ba9552fba3760cccd0c11
Due: none

chore(release): 1.5.7 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat: update dependencies for `@sentry/react`, `eslint`, and `stylelint-config-recess-order`
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  826ba546a270b999140aa44d35b3b349c76be0b6
Due: none

chore(release): 1.6.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore: update dependencies and refactor webpack plugin import
  config/webpack/webpack.production.js
  package-lock.json
  package.json
Due: eslint, prettier --write

Notes added by 'git notes add'
  72880750b7b9dee78c9d7e230723d1b73c6de692
Due: none

chore(release): 1.6.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

build: fix size report path upgrading to new version of @rsdoctor/webpack-plugin in 1.6.1
  .releaserc.json
Due: prettier --write

chore: update dependencies in package.json
  package-lock.json
  package.json
Due: prettier --write

chore(release): 1.6.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  89c8d8ffb489d6691e50812b961860f26570d8ba
Due: none

chore: update dependencies
  babel.config.js
  package-lock.json
  package.json
Due: eslint, prettier --write

chore(release): 1.6.3 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  367843b2a1f5134266450a4c7568897b847bc6ac
Due: none

chore: update dependencies
  package-lock.json
  package.json
Due: prettier --write

feat: add Sentry release tracking and improve error handling
  .github/workflows/deploy.yml
  config/webpack/webpack.production.js
  src/hooks/useFetch.ts
  src/sentry.ts
Due: eslint, prettier --write

chore(release): 1.7.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  41d90df4dc660a93f86f0a8831d36ed9af8cc25c
Due: none

chore(release): 1.7.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  ee8d52179280df382fb9e7bc352f6a6146882424
Due: none

chore: update dependencies and align core-js in babel config
  babel.config.js
  package-lock.json
  package.json
Due: eslint, prettier --write

chore(release): 1.7.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  4dc11eb15e9b4f630215d2d79600eb109855fcb1
Due: none

Path conditions:
  eslint: any of: **/*.{js,ts,jsx,tsx,[cm][jt]s}
  prettier --write: (any of: **/*.{js,ts,jsx,tsx,[cm][jt]s}) or (any of: **/*.{json,css,scss})
  stylelint: any of: src/**/*.{css,scss}
