Repository whoisYeshua/webpack-simple-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint

.lintstagedrc.json:

{
  "**/*.{js,ts,jsx,tsx,[cm][jt]s}": ["eslint", "prettier --write"],
  "**/*.json": "prettier --write",
  "src/**/*.{css,scss}": "stylelint"
}

docs(README): fix `.browserslistrc` config link
  README.md
Due: none

build: improve css modules names in dev mode, add separate folder for webpack configs file location
  config/webpack/webpack.development.js
  config/webpack/webpack.paths.js
  config/webpack/webpack.production.js
  src/declarations.d.ts
  webpack.config.js
Due: eslint, prettier --write

feat(plop): add `plop` package for react component generation
  README.md
  config/plop-templates/Component/Component.hbs
  config/plop-templates/Component/Component.module.hbs
  config/plop-templates/Component/index.ts.hbs
  config/plop-templates/injectable-index.ts.hbs
  package-lock.json
  package.json
  plopfile.js
Due: eslint, prettier --write

chore: add repository to package json
  package.json
Due: prettier --write

feat: add `tsconfig`, update dependencies
  .eslintrc.json
  config/plop-templates/Component/index.ts.hbs
  package-lock.json
  package.json
  src/analytics.ts
  src/components/Header/Header.jsx
  src/components/Header/index.ts
  src/components/Input/Input.module.css
  src/components/Input/Input.tsx
  src/components/Input/index.ts
  src/components/Post/Post.jsx
  src/components/Post/PostContent.js
  src/components/Post/index.js
  src/components/index.ts
  src/declarations.d.ts
  src/index.jsx
  tsconfig.json
Due: eslint, prettier --write, stylelint

chore: add `@typescript-eslint/eslint-plugin`
  .eslintrc.json
  package-lock.json
  package.json
  postcss.config.cjs
  src/analytics.ts
Due: eslint, prettier --write

docs(README): mention a possible alternative for ProgressPlugin
  README.md
Due: none

feat: add packages to inherit paths from `tsconfig`
  .eslintrc.json
  package-lock.json
  package.json
  src/index.jsx
  webpack.config.js
Due: eslint, prettier --write

chore(package.json): add type check command
  package.json
Due: prettier --write

chore: add more relevants logs for check babel work
  src/babel.js
Due: eslint, prettier --write

chore: upgrade minor package dependencies
  babel.config.cjs
  package-lock.json
Due: eslint, prettier --write

chore: upgrade major package dependencies and overall improvements
  .eslintrc.json
  .stylelintrc.json
  babel.config.cjs
  config/webpack/webpack.development.js
  config/webpack/webpack.production.js
  package-lock.json
  package.json
  src/babel.js
  src/components/Post/Post.jsx
  webpack.config.js
Due: eslint, prettier --write

refactor: change project structure
  README.md
  config/webpack/webpack.development.js
  config/webpack/webpack.paths.js
  config/webpack/webpack.production.js
  package-lock.json
  package.json
  public/assets/data.csv
  public/assets/data.xml
  public/assets/json.json
  public/assets/trash/webpack-explain.png
  public/favicon.ico
  public/static/robots.txt
  src/App.tsx
  src/assets/data/data.csv
  src/assets/data/data.json
  src/assets/data/data.xml
  src/assets/fonts/Roboto-Regular.ttf
  src/assets/images/webpack-logo.webp
  src/babelTest.js
  src/components/Header/Header.tsx
  src/components/Post/Post.tsx
  src/components/Post/PostContent.ts
  src/components/Post/index.js
  src/components/Post/index.ts
  src/declarations.d.ts
  src/index.jsx
  src/index.tsx
  src/styles/styles.css
  tsconfig.json
  webpack.config.js
Due: eslint, prettier --write, stylelint

chore: update prettier config
  .prettierrc.json
Due: prettier --write

fix: prettier config
  .prettierrc.json
Due: prettier --write

feat: add JSON, XML, CSV loader example
  src/App.tsx
  src/components/CardData/CardData.module.css
  src/components/CardData/CardData.tsx
  src/components/CardData/index.ts
  src/components/index.ts
  src/declarations.d.ts
  test.json
  test.txt
Due: eslint, prettier --write, stylelint

chore: update README ESLint section and remove unused ESLint plugin
  .eslintrc.json
  README.md
  package-lock.json
  package.json
Due: prettier --write

chore: delete needless files
  test.json
  test.txt
Due: prettier --write

build: update ignore files for lint tools
  .eslintignore
  .eslintrc.json
Due: prettier --write

build: update `commit-msg` git hook
  .husky/commit-msg
Due: none

chore: update dependencies and set `lockfileVersion` to 3 in `package-lock.json`
  babel.config.cjs
  config/webpack/webpack.production.js
  package-lock.json
  package.json
  tsconfig.json
  webpack.config.js
Due: eslint, prettier --write

chore: add engines strict check
  .npmrc
  README.md
  package.json
Due: prettier --write

chore: update `css-loader` description in `README.md`
  README.md
Due: none

chore: update dependencies
  babel.config.cjs
  package-lock.json
  package.json
Due: eslint, prettier --write

feat: add `@babel/plugin-transform-runtime` & `@babel/runtime` to reduce bundle code size
  README.md
  babel.config.cjs
  package-lock.json
  package.json
Due: eslint, prettier --write

docs(README): update `@babel/runtime` description
  README.md
Due: none

chore: change tsconfig target to more relevant `ESNext`
  tsconfig.json
Due: prettier --write

chore: change page title
  webpack.config.js
Due: eslint, prettier --write

feat: add development friendly devtool source map
  config/webpack/webpack.development.js
Due: eslint, prettier --write

chore: remove unnecessary eslint disable rules
  src/analytics.ts
  src/index.tsx
Due: eslint, prettier --write

fix: resolve #1
  config/webpack/webpack.development.js
Due: eslint, prettier --write

chore: changes in `tsconfig.json`
  tsconfig.json
Due: prettier --write

feat: add auto propasl import
  README.md
  babel.config.cjs
  src/babelTest.js
Due: eslint, prettier --write

chore: add JSDoc for several config files, some `README.md` updates and misc
  .gitignore
  .nvmrc
  README.md
  babel.config.cjs
  config/webpack/webpack.development.js
  config/webpack/webpack.production.js
  package-lock.json
  package.json
  plopfile.js
  tsconfig.json
  webpack.config.js
Due: eslint, prettier --write

feat: add debug commands for print ESLint, Stylelint and Prettier result configs
  .eslintignore
  .gitignore
  README.md
  package.json
Due: prettier --write

chore: update `Stylelint` to 15.0.0, replace outdated `stylelint-config-rational-order` with `stylelint-config-recess-order`
  .lintstagedrc.json
  .stylelintrc.json
  README.md
  package-lock.json
  package.json
  src/styles/scss.scss
  src/styles/styles.css
Due: prettier --write, stylelint

fix: make `husky` hooks executable
  .husky/commit-msg
  .husky/pre-commit
Due: none

feat: add `fork-ts-checker-webpack-plugin`
  .eslintrc.json
  README.md
  config/webpack/webpack.development.js
  package-lock.json
  package.json
  webpack.config.js
Due: eslint, prettier --write

feat: add `avif` support
  README.md
  src/assets/images/webpack-logo.avif
  src/assets/images/webpack-logo.webp
  src/components/Post/Post.tsx
  src/styles/styles.css
  webpack.config.js
Due: eslint, prettier --write, stylelint
