Repository whoisYeshua/webpack-simple-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint

chore(release): 1.4.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  9ac1ba092f69c9bed6de2f074fcfcee1b98262e8
Due: none

chore: remove unused `.eslintrc.json` file and update stylelint deps
  .eslintrc.json
  package-lock.json
  package.json
Due: prettier --write

chore(release): 1.4.3 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  98357d564ba0fce53d3d2bb1e87d8fa18b5edc81
Due: none

chore: update dependencies
  babel.config.cjs
  package-lock.json
  package.json
  public/index.html
Due: eslint, prettier --write

chore(release): 1.4.4 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  0530540b031fbe9a76bf54f1de86a0a0bc67bd68
Due: none

chore: update Node.js version requirement and bump dependencies
  .nvmrc
  README.md
  package-lock.json
  package.json
Due: prettier --write

chore(release): 1.4.5 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  7932700eba171b9cf484d5f55f3a2faeef544be2
Due: none

fix: update webpack configuration for `ESLintPlugin` in development
  config/webpack/webpack.development.js
  webpack.config.js
Due: eslint, prettier --write

ci: add GitHub Actions for setup, build, and deployment
  .github/actions/setup-and-build/action.yml
  .github/workflows/deploy.yml
  .github/workflows/release.yml
Due: none

chore(release): 1.4.6 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  70e21fa75565bf4ab3eef1ef5c6897ab564bb5a5
Due: none

feat: integrate Sentry for error tracking and performance monitoring
  .env.example
  .gitignore
  README.md
  config/webpack/webpack.production.js
  package-lock.json
  package.json
  src/App.tsx
  src/components/SentryErrors/SentryErrors.module.css
  src/components/SentryErrors/SentryErrors.tsx
  src/components/SentryErrors/index.ts
  src/components/index.ts
  src/index.tsx
  src/sentry.ts
Due: eslint, prettier --write, stylelint

chore(release): 1.5.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  545bc356ea1a60335b269b2d861e715bf8a53df5
Due: none

chore: update dependencies and configurations
  babel.config.cjs
  package-lock.json
  package.json
Due: eslint, prettier --write

Notes added by 'git notes add'
  b5c0c19f055aa6f993157468e557362e0502b75e
Due: none

chore(release): 1.5.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore: last migration step to ESM and update dependencies
  Dockerfile
  README.md
  babel.config.js
  package-lock.json
  package.json
  postcss.config.cjs
  postcss.config.js
  src/analytics.ts
  src/babelTest.js
  src/components/CardData/CardData.tsx
Due: eslint, prettier --write

chore(release): 1.5.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  a832e17d9f3c3abaa25e828aad6840f9f9f97567
Due: none

chore: update dependencies and Babel configuration
  babel.config.js
  package-lock.json
  package.json
Due: eslint, prettier --write

Notes added by 'git notes add'
  fc2c8bd9f543d7440d0ace8f49720f696e8bde78
Due: none

chore(release): 1.5.3 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: correct node env script commands in `package.json` for webpack CLI
  package.json
Due: prettier --write

docs: update README and GitHub Actions for Sentry configuration
  .github/workflows/deploy.yml
  README.md
Due: none

chore(release): 1.5.4 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  3bc9fd3695d1a86c309ddf3d3da008a5993da484
Due: none

refactor: remove unnecessary TypeScript error suppression in ESLint configuration
  eslint.config.js
Due: eslint, prettier --write

fix: remove Sentry double capture for errors
  src/components/SentryErrors/SentryErrors.tsx
Due: eslint, prettier --write

chore: move `@sentry/webpack-plugin` to devDependencies
  package.json
Due: prettier --write

fix: enhance Sentry integration by moving DSN configuration to env
  .env.example
  .github/workflows/deploy.yml
  README.md
  src/sentry.ts
  webpack.config.js
Due: eslint, prettier --write

chore(release): 1.5.5 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  08ca6f36f64dd9bce1c69cdfffb3f4df2e79200c
Due: none

chore: update dependencies
  package-lock.json
  package.json
Due: prettier --write

chore: add build time to environment variables
  src/components/Post/PostContent.ts
  webpack.config.js
Due: eslint, prettier --write

Path conditions:
  eslint: any of: **/*.{js,ts,jsx,tsx,[cm][jt]s}
  prettier --write: (any of: **/*.{js,ts,jsx,tsx,[cm][jt]s}) or (any of: **/*.{json,css,scss})
  stylelint: any of: src/**/*.{css,scss}
