Repository whoisYeshua/webpack-simple-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint

fix: fix scss stylelint rules
  .stylelintrc.json
  src/App.tsx
  src/components/Header/Header.tsx
  src/styles/scss.scss
Due: eslint, prettier --write, stylelint

feat: add support for svg import as react component
  README.md
  package-lock.json
  package.json
  src/App.tsx
  src/assets/images/svgr.svg
  src/components/SvgExample/SvgExample.module.css
  src/components/SvgExample/SvgExample.tsx
  src/components/SvgExample/index.ts
  src/components/index.ts
  src/styles/scss.scss
  src/styles/styles.css
  webpack.config.js
Due: eslint, prettier --write, stylelint

docs(README): mark svg loader as completed goal
  README.md
Due: none

chore: update dependencies
  babel.config.cjs
  package-lock.json
  package.json
Due: eslint, prettier --write

chore: add comment about deprecated `Array.prototype.group` usage
  src/babelTest.js
Due: eslint, prettier --write

feat: add `semantic-release` and ci step
  .github/workflows/release.yml
  .nvmrc
  .releaserc.json
  README.md
  package-lock.json
  package.json
Due: prettier --write

feat: add bundle report publication
  .gitignore
  .prettierignore
  .releaserc.json
  README.md
  config/webpack/webpack.production.js
Due: eslint, prettier --write

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  bf02df70d9baeec16e954c9edf8f2d5788fb70ee
Due: none

chore: change debug output file pattern for `.gitignore`
  .gitignore
Due: none

chore(release): 1.0.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  a1d35079dfa92035600df1dd6a88623580ee2852
Due: none

chore: update dependencies
  .eslintrc.json
  README.md
  babel.config.cjs
  package-lock.json
  package.json
  src/babelTest.js
  src/components/Post/PostContent.ts
  src/index.tsx
  tsconfig.json
  webpack.config.js
Due: eslint, prettier --write

feat: add `EnvironmentPlugin` and example for it
  .eslintrc.json
  README.md
  package-lock.json
  package.json
  src/App.tsx
  src/components/CardData/CardData.module.css
  src/components/CardData/CardData.tsx
  src/components/PostData/PostData.tsx
  src/components/PostData/index.ts
  src/components/index.ts
  src/hooks/index.ts
  src/hooks/useFetch.ts
  webpack.config.js
Due: eslint, prettier --write, stylelint

feat: add backend `proxy` for dev builds
  README.md
  config/webpack/webpack.development.js
  src/components/PostData/PostData.tsx
Due: eslint, prettier --write

feat: add Docker & nginx
  .dockerignore
  Dockerfile
  README.md
  docker-compose.yml
  nginx.conf
Due: none

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  4fe849e016d03f0cd2feb87b299402eccd81a1d6
Due: none

docs(README): add info about proxy in Environment comparison table
  README.md
Due: none

chore(no-release): update ESLint env target to `es2024`
  .eslintrc.json
Due: prettier --write

chore(release): 1.1.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  690ddef892ca0f7ada338b03f1cbb3f2c576663f
Due: none

feat: update dependencies
  .husky/commit-msg
  .husky/pre-commit
  babel.config.cjs
  package-lock.json
  package.json
  src/analytics.ts
  src/babelTest.js
  src/components/Post/Post.tsx
  src/components/SvgExample/SvgExample.tsx
  src/declarations.d.ts
Due: eslint, prettier --write

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  286e7ff1adc9a1b56c06f623d08bc55fea1df4f6
Due: none

fix: console log error for aborting request without reason
  src/hooks/useFetch.ts
Due: eslint, prettier --write

feat: update dependencies
  babel.config.cjs
  config/webpack/webpack.development.js
  package-lock.json
  package.json
  src/components/CardData/CardData.tsx
  src/components/Input/Input.tsx
  src/components/SvgExample/SvgExample.tsx
Due: eslint, prettier --write

chore(release): 1.3.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  45fcb087864dc1692e67b07b8e9149d1991f0af6
Due: none

chore: update dependencies and set fixed versions
  .husky/commit-msg
  .husky/pre-commit
  .npmrc
  babel.config.cjs
  package-lock.json
  package.json
Due: eslint, prettier --write

chore(release): 1.3.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  35fd2bfa59da8795304060cfaff95c5e254b0605
Due: none

feat: update dependencies (`react` 19 & `eslint` to flat config and 9)
  .eslintignore
  .nvmrc
  README.md
  babel.config.cjs
  eslint.config.js
  package-lock.json
  package.json
  postcss.config.cjs
  src/analytics.ts
  src/babelTest.js
  src/styles/styles.css
  tsconfig.json
  webpack.config.js
Due: eslint, prettier --write, stylelint

chore(release): 1.4.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  c84e796ac0dc8504a757e3eeeb1440bbd6839659
Due: none

chore: update `eslint`, `typescript-eslint` and `eslint-import-resolver-typescript`
  README.md
  eslint.config.js
  package-lock.json
  package.json
Due: eslint, prettier --write

chore(release): 1.4.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  b871445bde5b8cea49fbc23b801b6f60862a6478
Due: none

chore: update dependencies (react to `19.1.0`, babel to `7.27` and etc.)
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  eslint: any of: **/*.{js,ts,jsx,tsx,[cm][jt]s}
  prettier --write: (any of: **/*.{js,ts,jsx,tsx,[cm][jt]s}) or (any of: **/*.{json,css,scss})
  stylelint: any of: src/**/*.{css,scss}
